@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* VARIABLES CSS*/

/*colors   */
:root {
    --white-color: hsl(0 0% 100%); 
    --black-color: hsl(0 0% 0%);

    /* ====font family ===*/
    --body-font:"Poppins", sans-serif;
    /*======font sizes ===*/

    --h1-fs:2rem ;
    --normal-fs: 1rem;
    --small-fs:0.813rem;
    /* ===font weight=====*/
    --medium:500;

}
     /*====BASE=====*/
     *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
     }
      

    input,
    button,
     body {
    font-size:var(--normal-fs);
    font-family: var(--body-font);

      }
 body{
    color: var(--white-color);
 }     
 
input,
 button{
outline: none;
border: none;
 }
 h1{
  font-weight: var(--medium);
 }
 
 a{
    text-decoration: none;
 }
 /*=====LOGIN &REGISTER======*/
 .form--wrapper{
   height: 100vh;
   background-image: url(img/images.jpg);
   background-size: cover;
   background-position: center;
 }
 .form {
   background-color: hsl(0 0% 100% / 0.22);  
   border: 2px solid hsl(0 0% 100% / 0.24);
   width: 432px ;
   padding: 4rem 3rem 3.5rem ;
   border-radius: 1.5rem;
   position: absolute;
   left: -100%;
   top: 50%;
   transform: translate(-50% , -50%);
   transition:  1s ease-in-out;

}
.form-active {
  left: 50%;
}


 .form--title{
   text-align: center;
   font-size: var(--h1-fs);
   margin-bottom: 2rem;
 }


 .form--content{
   display: grid;
   row-gap: 1.75rem;
   margin-bottom: 1.5rem;
 }
 .form--box{
   display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: .75rem;
 border-bottom: 2px solid var(--white-color);

 }
 .form--icon,
 .form--eye{
   font-size: 1.25rem;

 }
 .form--input {
   width: 100%;
   padding-block: .75rem;
   background: none;
   color: var(--white-color);
  

}
.form--box-input {
   position: relative;

}
.form--label{
   position: absolute;
   left: 0;
   top: 13px;
   font-weight: var(--medium);
   transition: .3s;

   }
   .form--eye{
    position: absolute;
    right: 0;
    top: 18px;
    cursor: pointer;
   }

   
  .form--check,
  .form--check-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form--check{
    margin-bottom: 1.5rem;

  }
  .form--check-label,
  .form--forgot,
  .logi--register{
    font-size: var(--small-fs);
  }

  .form--check-group{
    column-gap: .5rem;
  }
  .form--check-input{
    width: 16px;
    height: 16px;

  }
  .form--forgot{
    color: var(--white-color);

  }
  .form--button{
    width: 100%;
    padding: 1rem;
    border-radius:.5rem ;
    background-color: var(--white-color);
    font-weight: var(--medium);
    cursor: pointer;
    margin-bottom: 2rem;

  }
  .logi--register{
    text-align: center;

  }
  .logi--register span{
    font-weight: var(--medium);
    cursor: pointer;
  }
  .form--input:focus + .form--label,
  .form--input:not(:placeholder-shown).form--input:not(:focus) +.form--label {
  top: -12px;
    font-size: var(--small-fs);

  }
  @media screen and (max-width: 576px){
    .form{
      width: calc(100% - 2rem);
      padding: 2.5rem 1.2rem;
      border-radius: 1rem;

    }
    .form--title{
      font-size: 1.75rem;
    }

  }
    
  

  

  